#calculator {
    height: 320px;
    width: 420px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding-left: 2%;
}

input {
    width: 90%;
    height: 15%;
    font-family: 'Roboto', sans-serif;
    background-color: cadetblue;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

button {
    width: 14%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: black;
    padding: 5px;
    margin: 3px;
    border: 0;
    border-radius: 5%;
}

.result {
    width: 30.5%;
    background-color: blanchedalmond;
}

button:hover {
    background-color: gray;
    color: white;
}

.operator {
    background-color: blanchedalmond;
}

.red {
    background-color: crimson;
    color: white;
}

.red:hover {
    background-color: firebrick;
    color: black;
}
